[Desktop Entry]
Type=Application
Name=Beholder
Comment=Manage a dystopian aparment building
Icon=beholder
Exec=xdg-launch /opt/beholder/Beholder.x86_64
Path=/opt/beholder/
Categories=Game;StrategyGame;
