[Desktop Entry]
Type=Application
Name=Wasteland 1
Comment=Wasteland 1 The Original Classic post-apocalyptic RPG
Icon=wasteland1
Exec=wasteland1
Categories=Game;RolePlaying;

