[Desktop Entry]
Type=Application
Name=Octodad: Dadliest Catch
GenericName=Octodad: Dadliest Catch
Comment=Octodad: Dadliest Catch
Icon=octodad-deadliest-catch
Exec=octodad
Categories=Game;AdventureGame;

