[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Desperados: Wanted Dead or Alive
Comment=Desperados: Wanted Dead or Alive
Icon=desperados1.png
Exec=desperados1
Categories=Game;StrategyGame;

